.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-space-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.pl-5 {
  padding-left: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.dotted-line {
  border: 1px dashed rgb(156, 156, 156);
}
