.flex-gap-10 {
  gap: 10px;
}

.text-grey {
  color: rgb(156, 156, 156);
}

.text-red {
  color: #d80032;
}

.dotted-line {
  border: 1px dashed rgb(156, 156, 156);
}

.font-bold {
  font-weight: bold;
}
