.skeleton {
  width: 200px;
  overflow-wrap: break-word;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #eeeeee;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

.lines {
  height: 15px;
  margin-top: 10px;
  width: 90%;
}

.horizontal-line {
  border-top: 1px solid #e9e9eb;
}

.photo {
  display: block !important;
  width: 90%;
  height: 120px;
  margin-top: 15px;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
