.restaurant-list {
  .restaurant-card {
    width: 200px;
    /* border: 1px solid #EEEEEE; */
    padding: 10px;
    overflow-wrap: break-word;
    cursor: pointer;
  }

  .restaurant-card:hover {
    // border: 1px solid #EEEEEE;
    border: 1px solid #333;
    // box-shadow: 1px 1px 5px #EEEEEE;
    box-shadow: 1px 1px 5px #333;
  }

  .restaurant-card .restaurant-card-img {
    width: 100%;
  }

  a:-webkit-any-link {
    text-decoration: none;
  }

  .product-name {
    font-size: 17px;
    // font-weight: 500;
    word-break: break-word;
    color: #000;
    // text-decoration: none;
  }

  .product-description {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
  }

  .product-extra-info {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
  }

  .horizontal-line {
    width: 100%;
    margin: 14px 0;
    border: 1px solid #eeeeee;
  }

  .product-ongoing-offer {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    font-size: 13px;
    color: #8a584b;
    font-weight: 400;
  }
}
