.restaurant-list {
  a:-webkit-any-link {
    text-decoration: none;
  }

  .horizontal-line {
    width: 100%;
    margin: 14px 0;
    border: 1px solid #eeeeee;
  }

  .product-ongoing-offer {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    font-size: 13px;
    color: #8a584b;
    font-weight: 400;
  }
}
